{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5 responsive-margin">
		<h1 class="mb-5">Mon panier</h1>

		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Produit</th>
					<th scope="col">Nom</th>
					<th scope="col">Prix unitaire</th>
					<th scope="col">Quantité</th>
					<th scope="col">Total</th>
				</tr>
			</thead>
			<tbody>
				{% for product in cart %}
					<tr>
						<td class="text-center">
							<div class="p-1">
								<img src="/uploads/{{product.object.illustration}}" alt="{{product.object.name}}" class="img-fluid" style="width: 50px; height: 50px;">
							</div>
						</td>
						<td class="text-center">
							<strong>{{product.object.name}}</strong>
						</td>
						<td class="text-center">
							{{ product.object.pricewt | price }}
						</td>
						<td class="text-center">
    <a href="{{ path('app_cart_decrease', { id : product.object.id } ) }}" class="change-qty" style="color: red;">
        <strong>-</strong>
    </a>
    <span class="badge text-bg-secondary">
        x
        {{product.qty}}</span>
    <a href="{{ path('app_cart_add', { id : product.object.id } ) }}" class="change-qty" style="color: green;">
        <strong>+</strong>
    </a>
</td>
						<td class="text-center">
							<strong>{{ (product.qty * product.object.pricewt) | price }}</strong>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
		<a href="{{ path('app_cart_remove') }}" class="small d-block mt-3" style="font-weight: bold; color: red; font-style: italic;">
			<i class="fas fa-trash-alt"></i> Vider le panier
		</a>


		<div class="col-md-4">

			<div class="bg-light p-3">
				<div class="d-flex justify-content-between">
					<span class="fw-bold">Total produit</span>
					<span>{{ fullCartQuantity }}</span>
				</div>
				<div class="d-flex justify-content-between mt-3">

					<span class="fw-bold">Prix total T.T.C</span>
					<span>{{ totalwt | price }}</span>
				</div>
			</div>
			<a href="{{ path('app_order') }}"  class="btn btn-success w-100 mb-5">Commander</a>


		</div>
	</div>
</div>
</div>
</div>


{% endblock %}



