<ul class="nav flex-column bg-light-blue text-white mt-4">
  <li class="nav-item">
    <a class="nav-link text-white animated-title" href="{{ path('app_account') }}">Mes commandes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white animated-title" href="{{ path('app_account_addresses') }}">Mes adresses</a>    
  </li>
  <li class="nav-item">
    <a class="nav-link text-white animated-title" href="{{ path('app_account_wishlist') }}">Ma liste de souhait</a>    
  </li>
  <li class="nav-item">
    <a class="nav-link text-white animated-title" href="{{ path('app_account_modify_pwd') }}">Modifier mon mot de passe</a>
  </li>
  {% if is_granted('ROLE_ADMIN') %}
  <a href="{{ path('admin') }}" class="nav-link text-white animated-title">Administration</a>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link text-white animated-title" href="{{ path('app_logout') }}">Me déconnecter</a>
  </li>
</ul>