{% extends 'base.html.twig' %}

{% block body %}

	<div class="container my-5">
		<h1>Espace membre</h1>
		<div class="row">
			<div class="col-md-3">
				{% include 'account/_menu.html.twig' %}
			</div>

			<div class="col-md-9">
				<h5>Mes dernières commandes</h5>
				{% if orders | length == 0 %}
					<div class="alert alert-info">
						Vous n'avez pas encore passé de commande.
					</div>
				{% else %}
					<div class="row">
						{% for order in orders %}
							<div class="col-md-6 col-lg-4 mb-4">
								<div class="card">
									<div class="card-header">
										Commande n°{{ order.id }}
									</div>
									<div class="card-body">
										<h6 class="card-subtitle mb-2 text-muted">Date:
											{{ order.createdAt | date('d/m/Y') }}</h6>
										<p class="card-text">Statut:
											{{ include('admin/state.html.twig', { field: { 'value': order.state }}) }}</p>
										<p class="card-text">Total:
											{{ order.totalWt | price }}</p>
										<a href="{{ path('app_account_order', {'id_order': order.id}) }}" class="btn btn-primary">
											<i class="fas fa-eye"></i>
											Voir détails
										</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
