{% extends 'base.html.twig' %}
{% block body %}

	<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
		<div class="carousel-indicators">
			{% if headers | length > 1 %}
				{% for key,header in headers %}

					<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ key }}" {% if key == 0 %} class="active" {% endif %} aria-current="true" aria-label="<h1>{{header.title}}</h1>"></button>
				{% endfor %}
			{% endif %}
		</div>
		<div class="carousel-inner">
			{% for key,header in headers %}
				<div class="carousel-item {% if key == 0 %} active {% endif %}">
					<img src="/uploads/{{ header.illustration }}" class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true" preserveaspectratio="xMidYMid slice" focusable="false"></img>
				<div class="container">
					<div class="carousel-caption text-start">
						<h1>{{header.title}}</h1>
						<p class="opacity-75">
							{{header.content}}
						</p>
						<p>
<a class="btn btn-secondary" href="{{ header.buttonLink | raw }}">{{ header.buttonTitle | raw }}</a>						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	{% if headers | length > 1 %}
		<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	{% endif %}
</div>


<!-- Marketing messaging and featurettes
	    ================================================== --><!-- Wrap the rest of the page in another container to center all the content. --><div
	class="container marketing">

	<!-- Three columns of text below the carousel -->

	<!-- /.row -->


	<!-- START THE FEATURETTES -->
<div class="container mt-2 mb-5 d-flex justify-content-center">
    {{ form_start(form, {'attr': {'class': 'input-group input-group-lg mb-3', 'id': 'searchForm'}}) }}
        {{ form_widget(form.query, {'attr': {'class': 'form-control', 'placeholder': 'Rechercher...', 'id': 'searchInput'}}) }}
        <div class="input-group-append ml-5">
            <button class="btn btn-secondary mr-5" type="submit">
                <i class="fa fa-search"></i> Rechercher
            </button>
        </div>
    {{ form_end(form) }}
</div>

<div class="container mt-4" id="searchResults">
    {% if products is not empty %}
        <h2 class="text-center">Résultats de recherche :</h2>
        <ul>
            {% for product in products %}
                <hr>
                <a href="{{ path('app_product', {slug: product.slug}) }}">{{ product.name }}</a>
                <hr>
            {% endfor %}
        </ul>
    {% elseif searchPerformed %}
        <p class="text-center">Aucun produit trouvé.</p>
    {% endif %}
</div>

<div class="container text-center mt-4">
    <h2 class="text-body-secondary">Découvrez nos produits à la une</h2>
</div>
	<hr class="featurette-divider">
	<div class="row">
		{% for product in productsInHomepage %}
		<div class="col-md-7">
			<h1 class="featurette-heading fw-normal lh-2">{{ product.name }}</h1>
			<h2 class="lead">{{ product.description | raw }}</h2>
			<p>
				<a class="btn btn-secondary" href="{{ path('app_product', { slug : product.slug } ) }}">Découvrir &raquo;</a>
			</p>
		</div>
		<div class="col-md-5 d-flex align-items-center justify-content-center">
			<div class="bg-light d-flex justify-content-center align-items-center" style="width: 300px; height: 300px; border: 2px solid grey; border-radius: 10%;">
				<img src="/uploads/{{ product.illustration }}" class="img-fluid" style="width: 90%; height: 90%; object-fit: cover;">
			</div>
		</div>
		<hr class="featurette-divider">
		{% endfor %}
	</div>
</div>
</div>


	</div><!-- /.container -->
	
	<script>
document.getElementById('searchInput').addEventListener('input', function() {
    if (!this.value) {
        document.getElementById('searchResults').innerHTML = '';
    }
});
</script>

	{% endblock %}
