{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}
<h3 class="mb-4">Commande n°{{ order.id }}</h3>

<div>{{ include('admin/state.html.twig', { field: { 'value': order.state }}) }}</div>

<div class="mb-4">
    <span>Passée le : {{ order.createdAt|date('d/m/Y') }}</span><br />
    <span>Stripe session Id : {{ order.stripeSessionId }}</span>
</div>

<div class="row my-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Adresses de livraison
            </div>
            <div class="card-body">
                {{ order.delivery | raw }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Transporteur
            </div>
            <div class="card-body">
                {{ order.carrierName }}
            </div>
        </div>
    </div>
</div>

<h4>Contenu de la commande :</h4>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Illustration</th>
            <th scope="col">Nom du produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire H.T</th>
            <th scope="col">TVA</th>
            <th scope="col">TOTAL T.T.C</th>
        </tr>
    </thead>
    <tbody>
        {% for product in order.orderDetails %}
        <tr>
            <td><img src="{{ asset('uploads/' ~ product.productIllustration) }}" style="width: 100px;" alt=""></td>
            <td>{{ product.productName }}</td>
            <td>{{ product.productQuantity }}</td>
            <td>{{ product.productPrice | price }}</td>
            <td>{{ product.productTva }}%</td>
            {% set coeff = 1 + (product.productTva / 100) %}
            <td>{{ ((product.productPrice * coeff) * product.productQuantity) | price }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" class="text-right">Frais de livraison :</td>
            <td>{{ order.carrierPrice | price }}</td>
        </tr>
    </tbody>
</table>

<div class="text-right">
    <strong>Total H.T :</strong> {{ (order.totalWt - order.totalTva) | price }}<br>
    <strong>Total TVA :</strong> {{ order.totalTva | price }}<br>
    <strong>Total T.T.C :</strong> {{ order.totalWt | price }}
</div>
{% endblock %}
