{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5">
    <h1>Espace membre</h1>
    <div class="row">
        <div class="col-md-3 mt-4">
            {% include 'account/_menu.html.twig' %}
        </div>

        <div class="col-md-9 mt-4">
            <small><a href="{{ path('app_account') }}"><i class="fas fa-arrow-left"></i> Retour</a></small>
            <h5 class="mt-4">Ma commande n°{{ order.id }}</h5>
            <div>{{ include('admin/state.html.twig', { field: { 'value': order.state } }) }}</div>
            <span>Passée le : {{ order.createdAt|date('d/m/Y') }}</span>

            <div class="row my-4">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            Adresses de livraison
                        </div>
                        <div class="card-body">
                            {{ order.delivery | raw }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            Transporteur
                        </div>
                        <div class="card-body">
                            {{ order.carrierName }}
                        </div>
                    </div>
                </div>
            </div>

            <h4>Contenu de la commande :</h4>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Illustration</th>
                        <th scope="col">Nom du produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix unitaire H.T</th>
                        <th scope="col">TVA</th>
                        <th scope="col">TOTAL T.T.C</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in order.orderDetails %}
                    <tr>
                        <td><img src="{{ asset('uploads/' ~ product.productIllustration) }}" style="width: 100px;" alt=""></td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productQuantity }}</td>
                        <td>{{ product.productPrice | price }}</td>
                        <td>{{ product.productTva }}%</td>
                        <td>{{ (product.productPrice * (1 + product.productTva / 100) * product.productQuantity) | price }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="text-right">Frais de livraison :</td>
                        <td>{{ order.carrierPrice | price }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-end">
                <div class="text-right">
                    <strong>Total H.T :</strong> {{ (order.totalWt - order.totalTva) | price }}<br>
                    <strong>Total TVA :</strong> {{ order.totalTva | price }}<br>
                    <strong>Total T.T.C :</strong> {{ order.totalWt | price }}
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
