{% extends 'base.html.twig' %}

{% block body %}
<br>
<div class="container mt-5 unique-class">
		<div class="row justify-content-center mt-3">
			<div class="col-md-6 position-relative d-block justify-content-center align-items-center">
				<img src="/uploads/{{ product.illustration }}" class="img-fluid zoom" style="width: 480px; height: 290px; border: 1px solid #808080; border-radius: 10px;" alt="{{ product.name }}">

			</div>
			<div class="col-md-6">
				<small>
					<i>
						<a href="{{ path('app_category', {slug : product.category.slug }) }}" class="mb-3">{{ product.category.name }}</a>
						>
						{{ product.name }}</i>
				</small>
				<h1>{{ product.name }}</h1>
				<span class="d-block mb-3">
					<span class="badge bg-gris">Prix TTC : {{ product.pricewt | price }}</span>
				</span>
				{{ product.description | raw }}

				<div class="d-flex align-items-center justify-content-between mt-3 flex-wrap">
					<div class="d-flex align-items-center w-100 mb-5">
						<a href="{{ path('app_cart_add', {id : product.id }) }}" class="btn btn-primary btn-dark flex-grow-1 me-2">Ajouter au panier</a>

						{% if app.user %}
							{% if product in app.user.wishlists %}
								<a class="btn btn-dark p-1" href="{{ path('app_account_wishlist_remove', {id: product.id }) }}">
									<i data-feather="heart"></i>
								</a>
							{% else %}
								<a class="btn btn-dark p-1" href="{{ path('app_account_wishlist_add', {id: product.id }) }}">
									<i data-feather="heart"></i>
								</a>
							{% endif %}
						{% else %}
							<a href="#collapseExample" class="btn btn-dark p-1" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
								<i data-feather="heart"></i>
								
							</a>
							<div class="row justify-content-center ">
					<div class="col-md-12 p-4 ">
						<div class="collapse" id="collapseExample">
							<div class="card card-body ">
								Pour utiliser les avantages de la wishlist:
								<a href="{{ path('app_login') }}">Connectez-vous<a/>
									<a href="{{ path('app_register') }}">
										ou créez votre compte client.</a>
								</div>
							</div>
						</div>
					</div>
						{% endif %}

					</div>
				</div>
			
				</div>
	
			</div>
		</div>

	</div>
{% endblock %}
