{% extends 'base.html.twig' %}

{% block body %}

	<div class="container mt-5">
		<h1>Récapitulatif de ma commande</h1>

		<div class="row">
			<div class="col-md-8">
            <strong>Contenu de mon panier:</strong><br/>
				<hr>

				{% for product in cart %}

					<div class="row mt-2">

						<div class="col-md-2">
							<hr><img src="/uploads/{{product.object.illustration}}" alt="{{product.object.name}}" class="img-fluid" style="width: 50px; height: 50px;">
						</div>

						<div class="col-md-6">

							<hr>
							<strong>{{product.object.name}}</strong>
							<span class="d-block small">Prix unitaire :{{product.object.pricewt|price}}</span>
						</div>
						<div class="col-md-2 text-right">
							<hr><span class="badge text-bg-secondary">x{{product.qty}}</span>
						</div>
						<div class="col-md-2">
							<hr><strong>{{ (product.qty * product.object.pricewt) | price }}</strong>
						</div>
					</div>
				{% endfor %}


				<hr>
				<strong>Votre adresse de livraison:</strong><br/>

				{{choices.addresses.firstname}}
				{{choices.addresses.lastname}}<br/>
				{{choices.addresses.address}}<br/>
				{{choices.addresses.city}} -
				{{choices.addresses.country}}


				<hr>
				<strong>Votre transporteur :</strong><br/>
				{{choices.carriers.name }}<br/>
				{{choices.carriers.description }}
			</div>
			<div class="col-md-4 mt-5">
				<div class="bg-light p3">
					<div class="d-flex justify-content-between">
						<span class="fw-bold">Total produit</span>
                        <span>{{ fullCartQuantity }}</span>
					</div>

					<div class="d-flex justify-content-between mt-3">

						<span class="fw-bold">Total transporteur</span>
						<span>{{ choices.carriers.price | price }}</span>
					</div>
					<div class="d-flex justify-content-between mt-3">
						<span class="fw-bold">Total commande</span>
                        <span>{{ (totalWt + choices.carriers.price) | price }}</span>
					</div>
					<a href="{{ path ('app_payment', {'id_order' : order.id })}}" class="btn btn-success w-100 mb-5">Payer</a>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
